/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
/* ol, ul {
	list-style: none ;
} */
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.html,body{
    background: #ECFFFF;
    line-height: 1.5;
}

.resume{
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    padding: 30px;
}

.header{
    font-family: Comic Sans MS, Comic Sans, cursive;
    text-align: center;
    font-size: 50px;
    border-bottom: 3px solid #b8efc6;
    margin-bottom: 30px;
}

.resume h2{
    text-align:left;
    font-size: 24px;
    font-family: Comic Sans MS, Comic Sans, cursive;
}
.resume p{
    font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;
}

.left{
    width: 300px;
    display: flex;
    color: white;
    background: rgba(0, 0, 0, 0.642);
    flex-direction: column;
}

.left img{
    width: 300px;
    height: 300px;
    border-radius:50% ;
}

.contact{
    margin-top: 30px;

}
.contact img{
    width: 50px;
    height: 50px;
    margin-left: 50px;
}
.contact .contact-icon{
    display: inline;
}

.contact .contact-name{
    padding-left: 60px;
    margin-top: 20px;
}

.education{
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
}

.education img{
    width: 50px;
    height: 50px;
    margin-left: 50px;
}
.education .education-icon{
    display: inline;
}

.education .education-name{
    padding-left: 60px;
    margin-top: 20px;
}

.right{
    width: 980px;
    display: flex;
    margin-left: 50px;
    color: black;
    flex-direction: column;
}
.work li {
    margin-left: 30px;
}

.profile{
    margin-bottom: 10px;
}
.work{
    margin-bottom: 10px;
}